body { 
    font-family: cursive;
    margin: 0px;
    padding: 0px;
    background-size: 100%, 100%;
} 
h1 {
  font-weight: 700;
 } 

.inline {
    display: inline-block;
    text-align: center;
 } 
.right { 
    position: absolute;
    width: 40%;
    right: 0px;
    height: 100%;
    color: black;
    background-image: url(R.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 
#left {
    position: absolute;
    width: 60%;
    height: 100%;
 } 

.picture {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 300px;
   height: 300px;
   box-sizing: border-box;
 } 

.circle1 { 
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: grey white grey black;
    background-image: url("1664525333966.jpg"); 
    background-size: 100%;
    cursor: pointer;
} 
#left p {
    line-height: 2.5em;
 } 

.right .inside {
    position: relative;
    background-color: rgba(242, 247, 247, 0.7);
    height: 34px;
    top: 40px;
    border-radius: 17px;
    color: black;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    margin-right: 20px;
    cursor: pointer;
    transform: translateX(800px);
    transition: 1.5s;
} 

.right:hover .inside {
    transform: translateX(0px);
 } 
 a {
    text-decoration: none;
} 
    
  } 